<<<<<<< HEAD
﻿@{
=======
﻿@model List<IrrigationAdvisor.Models.GridHome.GridPivotHome>

@{
>>>>>>> 58290beb60242c969fa5a51c8d9de37319de5d7c
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<<<<<<< HEAD
<p>Use this area to provide additional information.</p>
=======
 
>>>>>>> 58290beb60242c969fa5a51c8d9de37319de5d7c
