@{
    ViewBag.Title = "Home Page";
}





<div class="row">


    <a title="Go to the home page">
        <img src="../Content/Image/Farm.jpg">
    </a>

    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#RainModal">Agregar Riego</button>

    <!-- Modal -->
    <div class="modal fade" id="RainModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Agregar Riego </h4>
                </div>
                <div class="modal-body">
                    @{ Html.RenderAction("AddIrrigation", "Home"); }
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" id="closemodal" class="btn btn-primary" onclick="addRain()">Guardar</button>
                </div>
            </div>
        </div>
    </div>
   
    @{ Html.RenderAction("FrontPagePartial", "Home"); }
    @*@{ Html.RenderAction("WeatherPartial", "Home"); }*@

</div>
